.titleBar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    position: absolute;
    left: 1.68%;
    right: 0.81%;
    top: 0.9%;
    bottom: 89.35%;

    background: #FF296D;
    border-radius: 34px;
  }
  .titleText {
    text-align: center;
    padding: 10px;

    margin-left: auto;
    margin-right: auto;

    font-family: 'Lato';
    font-style: bold;
    font-size: 48px;
    color: #FFFFFF;
  }
  .logoutButton{
    position: absolute;
    left: 5%;
    top: 4.5%;
    padding: 7px;
  }
  .profileButton{
    position: absolute;
    right: 5%;
    top: 4.5%;
    padding: 7px;
  }
  .movieSelectionButton{
    position: absolute;
    left: 15%;
    top: 4.5%;
    padding: 7px;
  }
  .groupsButton{
    position: absolute;
    left: 30%;
    top: 4.5%;
    padding: 7px;
  }
  .friendsButton{
    position: absolute;
    right: 20%;
    top: 4.5%;
    padding: 7px;
  }
  .analyticsButton{
    position: absolute;
    right: 30%;
    top: 4.5%;
    padding: 7px;
  }